/* Contenedor (seccion dos) */

.dos {
  /* background: linear-gradient(to right, #555, #eee, #555); */
  background-color: #eee;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ---------- */

/* Acerca de mi */

.acerca-de-mi {
  background-color: white;
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 17px;
  margin: 50px;
}

.descripcion {
  font-size: 20px;
  font-weight: bold;
  margin: 40px;
}

h2 {
  margin: 40px;
}

/* ---------- */

/* Aptitudes */

.mis-aptitudes {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin: 70px;
}

.aptitudes {
  display: flex;
  flex-direction: row;
}

.conocimientos {
  margin: 30px;
  font-size: 25px;
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

/* ---------- */